<div
  class="flex flex-col rounded-sm p-1"
  [class.bg-green-50]="status() === 'accepted'"
  [class.bg-yellow-50]="status() === 'pending'"
  [class.bg-red-50]="status() === 'rejected'"
  [class.bg-gray-50]="status() === 'past'"
>
  <div class="flex w-full items-center justify-center gap-1">
      <span
        class="w-1/3 h-1 rounded-xs"
        [class.bg-green-400]="status() === 'accepted'"
        [class.bg-yellow-400]="status() === 'pending'"
        [class.bg-red-400]="status() === 'rejected'"
        [class.bg-gray-400]="status() === 'past'"
      ></span>
    <span>{{ lesson().teacher.instrument | instrumentEmoji }}</span>
    <span
      class="w-1/3 h-1 rounded-xs"
      [class.bg-green-400]="status() === 'accepted'"
      [class.bg-yellow-400]="status() === 'pending'"
      [class.bg-red-400]="status() === 'rejected'"
      [class.bg-gray-400]="status() === 'past'"
    ></span>
  </div>

  @if (withTeacher()) {
    <div class="flex items-center justify-center gap-2">
      <span>👨🏻‍🏫</span>
      <span>{{ lesson().teacher!.firstName }} {{ lesson().teacher.lastName }}</span>
    </div>
  }
  @if (withStudent()) {
    <div class="flex items-center justify-center gap-2">
      <span>👨🏻‍🎓</span>
      <span>{{ lesson().student!.firstName }} {{ lesson().student.lastName }}</span>
    </div>
  }

  <div class="flex gap-4 justify-center">
    <div class="flex items-center gap-1">
      <span>📅</span>
      <span class="text-sm">{{ lesson().startTime | date:'d.M. h:mm' }}</span>
    </div>


    <div class="flex items-center gap-1">
      <span>⏱️</span>
      <span class="text-sm">{{ durationInMins() }} mins</span>
    </div>
  </div>
</div>
