<div class="text-sm font-bold flex justify-center">
  <span>new lesson!</span>
</div>

<div class="flex w-full items-center justify-center gap-1">
  <span class="w-2/5 h-1 rounded-xs bg-green-400"></span>
  <span>{{ lesson().teacher.instrument | instrumentEmoji }}</span>
  <span class="w-2/5 h-1 rounded-xs bg-green-400"></span>
</div>

<div class="flex items-center justify-center gap-2">
  @switch (role()) {
    @case('admin') {
      <div class="flex items-center gap-2 text-sm">
        <span>👨🏻‍🏫</span>
        <span>{{ lesson().teacher!.firstName }} {{ lesson().teacher.lastName }}</span>
      </div>

      <span>x</span>

      <div class="flex items-center gap-2 text-sm">
        <span>👨🏻‍🎓</span>
        <span>{{ lesson().student!.firstName }} {{ lesson().student.lastName }}</span>
      </div>
    }
    @case('teacher') {
      <div class="flex items-center text-sm">
        with {{ lesson().student.firstName }} {{ lesson().student.lastName }}
      </div>
    }
    @case('student') {
      <div class="flex items-center text-sm">
        with {{ lesson().teacher.firstName }} {{ lesson().teacher.lastName }}
      </div>
    }
  }
</div>
