:host {
  display: grid;
  grid-template-columns: 1fr;
  height: 100dvh;
  overflow: hidden;

  video {
    background-color: black;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .small-screen {
    position: fixed;
    top: 20px;
    left: 20px;
    height: 180px;
    width: 300px;
    border-radius: 6px;
    border: 2px solid var(--color-indigo-500);
    z-index: 10;
  }
}
